<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs'); %>
</head>
<body>
    <%- include('../partials/header.ejs'); %>

        <h1 style="text-align: center;">Formulario</h1>
        <form action="/guardar" method="POST" class="form-container">
            <input type="text" class="form-control" name="nombre" placeholder="Nombre" required><br>
            <input type="text" class="form-control" name="apellido_paterno" placeholder="Apellido Paterno" required><br>
            <input type="text" class="form-control" name="apellido_materno" placeholder="Apellido Materno"><br>
            <input type="text" class="form-control" name="telefono" placeholder="Teléfono" required><br>
            <textarea name="direccion" class="form-control" placeholder="Dirección"></textarea><br>
            <input type="text" class="form-control" name="codigo_postal" placeholder="Código Postal"><br>
            <input type="number" class="form-control" name="edad" placeholder="Edad"><br>
            <textarea name="descripcion" class="form-control" placeholder="Descripción del problema"></textarea><br>
            <button type="submit" class="form-control">Enviar</button>
        </form>

    <%- include('../partials/footer.ejs'); %>
    <!-- <%- include('../partials/scripts.ejs'); %> -->

    <script>
        // Verifica si hay un parámetro de éxito en la URL
        const urlParams = new URLSearchParams(window.location.search);
        const success = urlParams.get('success');
        if (success === 'true') {
            alert('¡Datos registrados correctamente!');
            // Redirigir a otra página (por ejemplo, al inicio o a otra ruta)
            window.location.href = '/';
        } else if (success === 'false') {
            alert('Hubo un error al registrar los datos. Inténtalo de nuevo.');
            // Redirigir al usuario a la misma página para que intente nuevamente
            window.location.href = '/';
        }
    </script>
</body>
</html>
